/Formation
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.xdv
Ouvrages/
Outils/
Vie Scolaire/
Cours/2024_2025/Colles BCPST2/
Cours/2025-2026/Notes.numbers
Administratif/Mouvement Specifique 2025-2026/ConfirmationDemande20252026.pdf
Cours/2025-2026/Seconde_Maths/Liste_eleve.pdf
Cours/2025-2026/Seconde_Maths/Plan_Classe_2nde3.pdf
Cours/2025-2026/Seconde_Maths/Plan_Classe_2nde3_G1_SNT.pdf
Cours/2025-2026/Seconde_Maths/Plan_Classe_2nde3_G1.pdf
